<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Matchurkorea.Match.mapper.userMapper">

    <insert id="save"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user.user(name,email,role) VALUES(#{name}, #{email}, #{role})
    </insert>
    <select id="findByEmail" resultType="com.Matchurkorea.Match.domain.User.User">
        SELECT * FROM user.user WHERE email = #{email}
    </select>

</mapper>